*{    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;/*"Lucida Sans", sans-serif*/
    font-weight: 300;
    line-height: 1.254;
    padding: 0;
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: #333;
}

/*== Container ==*/


/*== .header ==*/
nav.navbar-default{    
    display: flex;    
    justify-content: center;
    align-items: center;    
    background-color: #006bd1;
    border-color: #006bd1;
    width: 100%;
    height: 70px;
    z-index: 99;
}

.navbar-header{
    width: 15%;
}

.collapse{        
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.collapse .nav{
    float: right;
}

.collapse .nav > li > a{
    padding: 0 5px;
    color: #fff;
    height: 69px;
    line-height: 69px;
    font-size: 1em;
    font-weight: bold;
}

.collapse .nav > li > a.active {
    color: #e2a941;
    border-bottom: #e2a941 solid 1px;
}

.collapse .nav > li > a:hover{
    color: #e2a941;
    border-bottom: #e2a941 solid 1px;
}


.navbar-default .navbar-brand{
    font-size: 1.75em;
    font-weight: bold;
    color:#fff;
    padding: 0;
    height: 70px;
    line-height: 70px;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
}

p#icon-search{
    margin-bottom: 2px;
    font-size: 0.8em;
    padding-left: 2px;
}

p#icon-search > a{
    color: #fff;
}

/*========#banner==========*/

div#banner img{
    width: 100%;
    margin-top: 70px;
}

/*==========.content=========*/
div.content{    
    margin-top: 20px;
}

    /*======.row=======*/
    div._row{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    /*=======#about-us========*/

    /*=======page home========*/
    div._row div.col{
        overflow: hidden;        
        float: left;
        width: 30%;
    }

    div._row div.col > p{
        padding-right: 15px;
    }

    div._row div.col img{
        width: 100%;
    }

    /*========page About=======*/
    div.main-content{
        width: 60%;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }

    div.main-content .header-content{
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }

    div.main-content .header-content h3{
        font-weight: bold;
    }

    div.main-content .header-content .point{
        display: block;
        margin: 0 auto;
        width: 35px;
        margin-top: 10px;
    }

    div.main-content .main-about{
        width: 100%;
        overflow: hidden;
    }

    div.main-content .main-about .about{
        display: flex;
    }

    div.main-content .main-about .about > div{
        margin-bottom: 10px;
    }


    div.main-content .main-about .about-table{
        width: 100%;
        overflow: hidden;
    }

    div.main-content .main-about .about-table .row{
        margin-left: 0;
        margin-right: 0;
        display: flex;
    }

    div.main-content .main-about .about-table .row > div{
        margin-bottom: 10px;
    }

    div.main-content .main-about .about-table .row .col-1{
        width: 30%;
    }

    div.main-content .main-about .about-table .row .col-2{
        width: 70%;
    }

    div.main-content .main-about .about-table .row:last-child .col-2 p > a{
        color: #eaa21d;
    }

    div.main-content .row{
        margin-left: 0;
        margin-right: 0;
        display: flex;
    }

    div.main-content .row .col{
        text-align: center;
        width: 20%;
    }

    div.main-content .row .col img{
        width: 100%;
    }

    div.main-content .row .col h4{
        font-weight: bold;
        margin-top: 5px;
    }
    /*=============#our-business==========*/
    div#our-business{
        margin-top: 40px;
        position: relative;
        color: #fff;
    }

    div._row div.col-img{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    div._row div.col-img img{
        width: 50%;
    }

    div._row div.col-icon{
        margin-top: 30px;
        margin-left: 47%;
        position: absolute;
        width: 50%;
    }

    div._row div.col-icon > h3{
        margin-left: 50px;
        
    }

    div._row div.col-icon a{
        color: #fff;
    }
    
    div._row div.col-icon div.row-icon{
        float: left;
    }

    div._row div.col-icon div.row-icon div.icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 10px;
        position: absolute;        
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
    }

    div.img-icon-1{
        background-image: url(/images/hand_icon.jpg);
        background-size: 100% 100%;
    }

    div.img-icon-2{
        background-image: url(/images/Book_Icon.png);
        background-size: 90%;        
    }

    div._row div.col-icon div.row-icon > p{
        margin-left: 50px;
        
    }

    div._row div.col-icon div.row-icon p:last-child{
        font-size: 0.6em;
    }

        /*===============page Business================*/
        div.content div.box{
            margin-bottom: 40px;
        }

        div.content div.main-content-left{
            
            margin-left: 50%;
        }

        div.content div.box div.box-img-content img{
            width: 100%;
        }

    /*==============#new==============*/

    /*
    .row-new{
        
        display: flex;
        flex-direction: column;/*cot - tu tren xuong duoi 
        align-items: center;/*căn giữa trong      
        
    }
    */
    /*
    #new .header-new h3{
        font-size: 0.6em;
        margin-bottom: 10px;
    }
    */
    div#new div.header-new h4{
        margin-top: 0;
        margin-bottom: 5px;
    }
    div#new div.row-new{
        
        overflow: hidden;
    }

    div#new div.row-new div.col-new{
        float: left;
        width: 30%;
        margin-right: 5%;
        overflow: hidden;
        border: #e6e6e6 solid 1px;
    }

    /*
    div#new div.row-new div.col-new:nth-last-child(2){} /*chọn phần tử là phần tử con thứ n, 
                                                            của một kiểu được chỉ định, của cha của nó, 
                                                            tính từ phần tử cuối cùng*/


    div#new div.row-new div.col-new:last-child{
        float: right;
        margin-right: 0;
    }

    div#new div.row-new div.col-new > img{
        width: 100%;
    }

    div#new div.row-new div.col-new > p{        
        margin: 10px 0 5px 0;
        padding: 0 5px;
    }

    div#new div.row-new div.col-new p > a{
        font-size: 0.6em;
        color: #333;
    }

    div#new div.row-new div.col-new p{
        margin-top: 10px;
    }

    div#new div.row-new div.col-new p a i{
        padding-left: 5px;
    }

        /*=================page News==============*/
        div.p-new{
            margin-top: 40px;
            display: flex;
        }

        div.main-content div.row-new{
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        div.main-content div.row-new div.col-new{
            width: 46%;
            margin-right: 4%;
            overflow: hidden;
            margin-bottom: 10px;
            float: left;
            border: #e6e6e6 solid 1px;
        }

        div.main-content div.row-new div.col-new img{
            width: 100%;
        }

        div.main-content div.row-new div.col-new > p{
            padding: 0 5px;
            margin: 10px 0 5px 0;
        }

        div.main-content div.row-new div.col-new p a > i{
            margin-left: 5px;
        }

        div.main-content aside.box-right div.header-box-right{
            background-color: #006bd1;
            margin-top: -20px;
        }

        div.main-content aside.box-right div.header-box-right h3{
            font-size: 12px;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

        div.main-content aside.box-right div.main-box-right{
            margin-top: -10px;
            overflow: hidden;
            background-color: #fbfafa;
        }

        div.main-content aside.box-right div.main-box-right div.box{
            width: 100%;
            
            display: flex;
            
            border-bottom: #e6e6e6 solid 1px;
        }

        div.main-content aside.box-right div.main-box-right div.box div.image{
            width: 40%;
            background-position: center;
            background-repeat: no-repeat;
            /*transition: transform .2s;*/
        }
        /*
        div.main-content aside.box-right div.main-box-right div.box div.image:hover{
            transform: scale(3.5);
        }
        */
        div.main-content aside.box-right div.main-box-right div.box div.image img{
            width: 100%;
        }

        div.main-content aside.box-right div.main-box-right div.box .tit{
            width: 62%;
            margin-right: 5%;
        }
        

    /*===========#contact===================*/

    div#contact{
        margin: 100px 0 40px 0;
    }
    div#contact div.col-contact{
        width: 29%;
        /*overflow: hidden;*/
    }

    div#contact div.col-contact > p{
        margin: 0 0 5px 0;
    }

    div#contact div.col-contact-left{
        margin-right: 25px;
    }

    /*
    #contact .col-contact-left .form-group{
        position: relative;
    }
    */
    div#contact div.col-contact-left div.form-group form.form-contact div.form-input{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    /*
    div#contact div.col-contact-left div.form-group form.form-contact input{
        width: 30%;
        height: 25px;
        border: 1px solid #c4c2c2;
        border-radius: 2px;
    }
    */
    div#contact div.col-contact-left div.form-group form.form-contact textarea{
        margin: 0;
        width: 100%;
        z-index: 1;
        font-size: 13px;
    }
    

    div#contact div.col-contact-left div.form-group form.form-contact button{
        position: relative;
        left: 55%;        
        margin: auto;
        background-color: #ffb301;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 13px 30px;
    }
    
    div#contact div.col-contact-right img{
        width: 100%;
    }

        /*==============page Contact=================*/
        div.content .main-content{
            margin-bottom: 40px;
        }
        div.content .main-content .col{
            width: 50%;
        }

        div.content .main-content .col-left{
            padding-right: 3%;
        }
        
        div.content .row{
            display: flex;
        }

        div.content .row .col .form-contact .form-group .fa-si{
            font-size: 6px;
            padding-right: 10px;
        }        

        div.content .row .col .form-contact .form-group .form-control{
            
            display: inline-block;
        }

        div.content .row .col .form-contact .form-group:last-child button{
            float: right;
        }

        div.footer-content{
            width: 100%;
            overflow: hidden;
        }

        div.footer-content img{
            width: 100%;
        }
    /*================= .footer =================*/

    footer.footer{
        background-color: #1b191a;
        color: #fff;
        overflow: hidden;
    }

    footer.footer div._row div.col-footer{
        width: 15%;
    }

    footer.footer div._row div.col-footer ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    footer.footer div._row div.col-footer ul li{
        font-size: 0.6em;
        padding-bottom: 2px;
    }

    footer.footer div._row div.col-footer ul li a{
        color: #fff;
        padding-left: 5px;
    }
    
    footer.footer div._row div.col-footer form.form-email div.box-email{        
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: #fff solid 1px;
        padding-bottom: 5px;
    }
    
    footer.footer div._row div.col-footer form.form-email div.box-email input[type="text"]{
        width: 70%;
        border: none;
        height: 20px;
        margin-left: 5px;
        background-color: #1b191a;
        color: #fff;
        margin-bottom: 2px;
    }

    footer.footer div._row div.col-footer form.form-email div.box-email button{
        float: right;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        padding: 3px 5px;
        color: #1b191a;
    }

    footer.footer hr{
        margin: 0;
        width: 100%;
    }
    footer.footer div.footer-bottom{
        text-align: center;
        padding: 5px 5px 0 5px;
    }

    footer.footer div.footer-bottom p{
        padding-top: 5px;
    }

    footer.footer div.footer-bottom{
        width: 100%;
        margin: 0 auto;
        float: left;
    }


/*=============================*/
/* style thẻ h3 */
.head-ti{
    font-size: 0.6em;
    margin-top: 0;
    padding: 0;
}

.he{
    font-size: 14px;
    font-weight: bold;
}

.ti{
    font-size: 0.7em;
}

.head-point{
    display: flex;
    align-items: center;
}

.point{
    width: 20px;
    height: 2px;
    margin-right: 5px;
    display: block;
}

.point-blue{
    background-color: #006bd1;
}

.point-white{
    background-color: #fff;
}

.btn-yellow{
    background-color: #ffb301;
    color: #fff;
}